var churnBoxColour = "333";
var churnBoxHeight = "250";
var i=0;
var imageSet = new Array();

if(window.location.href.indexOf("todaysparent") > -1) {		// Today's Parent images

    churnBoxColour = "00AAB5";
    churnBoxHeight = "200";

    imageSet[i++] = "https://www.todaysparent.com/wp-content/uploads/2017/06/slow-cooker-ribs-recipe-2560x1920-440x248.jpg";
    imageSet[i++] = "https://www.todaysparent.com/wp-content/uploads/2015/11/extreme-preemies-how-can-something-so-little-survive-440x248.jpg";
    imageSet[i++] = "https://www.todaysparent.com/wp-content/uploads/2017/10/toy-guide-2017-paw-patrol-toys-1280x960-440x248-1508773411.jpg";
    imageSet[i++] = "https://www.todaysparent.com/wp-content/uploads/2015/10/easy-halloween-face-painting-tutorials-440x248-1506018490.jpg";
    imageSet[i++] = "https://www.todaysparent.com/wp-content/uploads/2017/02/how-to-change-busy-toddlers-diaper-440x248.jpg";

}else{			// Macleans images

    imageSet[i++] = "http://www.macleans.ca/wp-content/uploads/2017/11/FEATURE-IMAGE-300x300.png";
    imageSet[i++] = "http://www.macleans.ca/wp-content/uploads/2017/11/NOV20_BETHUNE_WEATHER_FEATURE01.jpg";
    imageSet[i++] = "http://www.macleans.ca/wp-content/uploads/2017/11/MCINTYRE_HOUSING_FEATURE.jpg";
    imageSet[i++] = "http://www.macleans.ca/wp-content/uploads/2017/11/NOV23_CASTALDO_FEATURE01.jpg";
    imageSet[i++] = "http://www.macleans.ca/wp-content/uploads/2014/06/queens-park-300x300-1510689105.jpg";
}


var churnItemsLimit = 2;
var w = window.innerWidth;

if(w > 600){
    churnItemsLimit = 3;
}
if(w > 800){
    churnItemsLimit = 4;
}
if(w > 1000){
    churnItemsLimit = 5;
}


var injectHTML = "";
// Today's Parent Colour
// injectHTML += '<div class="churn-box" id="churnBox" style="display:none; margin: 0 auto 0 auto; position: fixed; width: 100%; height: 200px; text-align: center; top: 0px; z-index: 10000000; background-color: #00AAB5; padding: 5px; color: #FFFFFF; font-weight: bold;">';
// Other Colour
injectHTML += '<div class="churn-box" id="churnBox" style="display:none; margin: 0 auto 0 auto; position: fixed; width: 100%; height: '+churnBoxHeight+'px; text-align: center; top: 0px;left:0px; z-index: 10000000; background-color: #'+churnBoxColour+'; padding: 5px; color: #FFFFFF; font-weight: bold;">';
injectHTML += '<div class="churn-x" style="float: right; font: helvetica; font-size: 20px; position:fixed;top:15px;right:15px; cursor: pointer;" onclick="closeChurnBox();">X</div><br clear="all" />';
injectHTML += '<div class="churn-items" style="margin: auto; text-align: center; display: inline-block;">';
for(var i=0;i<churnItemsLimit;i++){
    injectHTML += '<div class="churn-item" style="display: inline-block; float: left; padding: 5px;">';
    injectHTML += '<div class="churn-item-img">';
    // injectHTML += ' <img src="https://www.todaysparent.com/wp-content/uploads/2017/02/Nickelodeons-refreshing-new-princess-is-our-favorite-girl-power-advocate--300x225.png" width="150" height="112.5" />';
    injectHTML += ' <img src="'+imageSet[i]+'" width="150" height="112.5" />';
    injectHTML += '</div>';
    injectHTML += '<div class="churn-item-heading">Related Item '+(i+1)+'</div>';
    injectHTML += '</div>';
}
injectHTML += '</div>';
injectHTML += '</div>';


// Today's Parent Article
// document.getElementById("infiniteScrollStream").innerHTML += injectHTML;

// Elsewhere
if (document.getElementsByTagName("body") != undefined && document.getElementsByTagName("body")[0] != undefined) {
  console.log('set body ');
  document.getElementsByTagName("body")[0].innerHTML += injectHTML;
} else {
  console.log(' body  dne');
  setTimeout(100, function () {
    if (document.getElementsByTagName("body") != undefined && document.getElementsByTagName("body")[0] != undefined) {
      console.log('set body');
      document.getElementsByTagName("body")[0].innerHTML += injectHTML;
    }
  });
}
$.ready(function () {
  console.log('set body on page load');
  document.getElementsByTagName("body")[0].innerHTML += injectHTML;
});



function openChurnBox(){

    // document.getElementById("infiniteScrollStream").style.marginTop = "200px";
    document.getElementById("churnBox").style.display = "";

}

function closeChurnBox(){

    document.getElementById("churnBox").style.display = "none";
    // document.getElementById("infiniteScrollStream").style.marginTop = "0px";

}

function getPredictedChurn(scrollspeed, towardsaddressbar) {
//  console.log(scrollspeed);
//  console.log(towardsaddressbar);
  if (scrollspeed == undefined) {
    scrollspeed = 0
  }
  if (towardsaddressbar == undefined) {
    towardsaddressbar = 0
  }
  var url = '/get_churn?scrollspeed=sclspd&amp;towardsaddressbar=addrbar',
      replaceScroll = url.replace('sclspd', scrollspeed),
      replaceAddr = replaceScroll.replace('addrbar', towardsaddressbar);

//  console.log('get churn');
//  console.log(scrollspeed);
//  console.log(towardsaddressbar);
//  console.log(url);
//  console.log(replaceScroll);
//  console.log(replaceAddr);

  $.get({
    url: replaceAddr,
    data: {},
    success: function (data) {
      console.log('getPredictedChurn success');
      console.log(data);
      var churn = data['Results']['output1']['value']['Values'][0][0];

      console.log('churn is now: ' + churn);
      if (churn == 1) {
        openChurnBox();
      }
    }
  });
}

function recordScrollHistory(scrollspeed, towardsaddressbar) {
  // # "scroll_speed", "towards_address_bar", "churn", "sid"
  console.log('recordScrollHistory' + scrollspeed + ',' + towardsaddressbar);
  var sid = document.getElementById('sid'),
      url = '/get_scroll_history?scroll_speed=' + scrollspeed + '&towards_address_bar=' + towardsaddressbar + '&churn=0' + '&sid=' + sid;
  if (sid == undefined) {
    url = url + '&sid=';
  } else {
    url = url + '&sid=' + sid.innerHTML;
  }

  $.get({
    url: url,
    data: {},
    success: function (data) {
      console.log('recordScrollHistory success');
      console.log(data);
    }
  });
}

// Detects URL bar movement on desktop

var mouseY = 0;
var topValue = 0;
window.addEventListener("mouseout",function(e){
        mouseY = e.clientY;
        if(mouseY<topValue) {
            // alert("Check out this related content (URL)");
          recordScrollHistory(checkScrollSpeed(), 1);
          getPredictedChurn(checkScrollSpeed(), 1);
//            openChurnBox();
        }
    },
    false);

// Scroll velocity detection

var checkScrollSpeed = (function(settings){
    settings = settings || {};

    var lastPos, newPos, timer, delta,
        delay = settings.delay || 50; // in "ms" (higher means lower fidelity )

    function clear() {
        lastPos = null;
        delta = 0;
    }

    clear();

    return function(){
        newPos = window.scrollY;
        if ( lastPos != null ){ // && newPos < maxScroll
            delta = newPos -  lastPos;
        }
        lastPos = newPos;
        clearTimeout(timer);
        timer = setTimeout(clear, delay);
        return delta;
    };
})();



// listen to "scroll" event
window.onscroll = function(){
    var scrollSpeed = checkScrollSpeed(), scrollSpeedLimit = 10;
    if (scrollSpeed < -scrollSpeedLimit || scrollSpeed > scrollSpeedLimit){
      recordScrollHistory(scrollSpeed, 0);
      getPredictedChurn(scrollSpeed, 0);
//        console.log("churn Check out this related content (ScrollVelocity: "+scrollSpeed+")");
//        openChurnBox();
    }
};

//function httpGetAsync(theUrl, callback)
//{
//    var xmlHttp = new XMLHttpRequest();
//    xmlHttp.onreadystatechange = function() {
//        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
//            callback(xmlHttp.responseText);
//    }
//    xmlHttp.open("GET", theUrl, true); // true for asynchronous
//    xmlHttp.setRequestHeader('Access-Control-Allow-Origin', '*');xmlHttp.setRequestHeader('Access-Control-Allow-Methods', 'POST, GET');xmlHttp.setRequestHeader('Access-Control-Max-Age', 1000);xmlHttp.setRequestHeader('Access-Control-Allow-Headers', 'origin, x-csrftoken, content-type, accept');
//    xmlHttp.send(null);
//}
//
//console.log('try to get a request...');
//
//var getChurnUrl = "https://ml-churn-test.herokuapp.com/get_churn?scrollspeed=180&amp;towardsaddressbar=0";
//
//httpGetAsync(getChurnUrl, function (data) { console.log('success'); console.log(data); });
//xhr.setRequestHeader('Authorization', token);